{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="data:;base64,=">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Housing Prices</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="float" name="CRIM" id="CRIM" placeholder="CRIM">
            <input type="float" name="ZN" id="ZN" placeholder="ZN">
            <input type="float" name="INDUS" id="INDUS" placeholder="INDUS">
            <input type="float" name="CHAS" id="CHAS" placeholder="CHAS">
            <input type="float" name="NOX" id="NOX" placeholder="NOX">
            <input type="float" name="RM" id="RM"placeholder="RM">
            <input type="float" name="AGE" id="AGE"placeholder="AGE">
	        <input type="float" name="DIS" id="DIS"placeholder="DIS">
	        <input type="float" name="RAD" id="RAD"placeholder="RAD">
	         <input type="float" name="TAX" id="TAX"placeholder="TAX">
            <input type="float" name="PTRATIO" id="PTRATIO"placeholder="PTRATIO">
	        <input type="float" name="B" id="B"placeholder="B">
            <input type="float" name="LSTAT" id="LSTAT"placeholder="LSTAT">
	    	    
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}